@page "/CaesarCipherView"
@using Ciphers.Transposition
@using Ciphers

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="input-group input-group-sm mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text btn-dark">Key</span>
                </div>
                <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                       @bind="CurrentKey">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="input-group input-group-sm mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text btn-dark">Mode</span>
                </div>
                <select class="form-control" @bind="CurrentMode">
                    @foreach (var mode in Enum.GetValues(typeof(Mode)))
                    {
                        <option value="@mode">@mode</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row mt-3 gx-0">
        <div class="col-md-1">
            <div class="input-group-prepend">
                <span class="input-group-text btn-dark text-center">Alphabet</span>
            </div>
        </div>
        <div class="col-md">
            <select class="form-control" @bind="CurrentAlphabet">
                @foreach (var alphabet in Alphabets)
                {
                    <option value="@alphabet">@alphabet</option>
                }
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="inputTextArea">Input:</label>
                    <textarea class="form-control" rows="6" id="inputTextArea" @bind="InputText"></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="outputTextArea">Output:</label>
                    <textarea disabled class="form-control" rows="6" id="outputTextArea" @bind="OutputText"></textarea>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-secondary" @onclick="@(() => InputText = OutputText)">←</button>
        </div>
    </div>

    <div class="row mt-3">
        <form>
            <div class="form-group">
                <label for="userAlphabetInput">Print custom alhabet:</label>
                <textarea class="form-control" rows="1" id="userAlphabetInput" @bind="UserAlphabet"></textarea>
            </div>
        </form>
    </div>

</div>

@code 
{
    private const string EnglishLowercase = "abcdefghijklmnopqrstuvwxyz0123456789";
    private const string EnglishUppercase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    private const string RussianLowercase = "абвгдеёжзийклмнопрстуфхцчшщъыьэюя0123456789";
    private const string RussionUppercase = "АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ0123456789";

    private string UserAlphabet { get; set; } = string.Empty;

    private IReadOnlyCollection<string> Alphabets => new[]
    {
        EnglishLowercase,
        EnglishUppercase,
        RussianLowercase,
        RussionUppercase,
        UserAlphabet
    };

    private Mode CurrentMode { get; set; } = Mode.Encryption;

    private string CurrentAlphabet { get; set; } = EnglishLowercase;

    private int CurrentKey { get; set; }

    private string InputText { get; set; }

    private string OutputText
    {
        get => string.IsNullOrEmpty(InputText) ? 
            null : 
            CurrentMode switch
            {
                Mode.Encryption => GetCipher().EncryptText(InputText),
                Mode.Decryption => GetCipher().DecryptText(InputText),
                _ => throw new NotImplementedException()
            };
        set {}
    }

    private Cipher GetCipher() => new CaesarCipher(CurrentAlphabet.ToCharArray(), CurrentKey);

    public enum Mode
    {
        Encryption,
        Decryption
    }
}